@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #CCC;
}
header{
    background-color: #FFF;
}
header h1{
    font-weight: 700;
    color: #FF6D00;
}
h1{
    color: #3C0A6D;
}
.titulo-pagina{
    font-size: 3.5em;
}
.titulo-pagina:hover{
    color: #CCC;
}
.nav-link{
    color: #a873dc;
}
.nav-link:hover, .nav-link:focus{
    color: #ee9551;
}

.slider{
    height: 90vh;
    background-color: #c7a4e9;
    background-image: url('../img/001.jpg');
    object-fit: cover;
}


footer{
    text-align: center;
}