@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #CCC;
}
header{
    background-color: #FFF;
}
header h1{
    font-weight: 700;
    color: #FF6D00;
}
h1{
    font-size: 45px;
    color: #3C0A6D;
}
.titulo-pagina{
    font-size: 3.5em;
}
.titulo-pagina:hover{
    color: #CCC;
}
.nav-link{
    color: #a873dc;
}
.nav-link:hover, .nav-link:focus{
    color: #ee9551;
}
ul svg:hover{
  fill:#3C0A6D;
}

.slider{
    height: 92vh;
    background-color: #c7a4e9;
    background-image: url('../img/001.jpg');
    background-position: center;
    background-size: 100%;
    object-fit: cover;
}
.container-sobre{
    display: flex;
}
.image{
    width: 30%
}
#sobre img{
    width: 80%;
    border-radius: 50%;
    border: #ffffff 1px solid;
}

/* Portfolio section */
#portfolio {
    width: 100%; /* full width on small screens */
    margin: 0 auto;
    text-align: center;
  }
  
  /* Project container */
  .projects-container {
    display: flex;
    flex-wrap: wrap; /* allows items to wrap onto multiple lines */
    justify-content: space-between;
  }
  
  /* Project */
  .project {
    width: 100%; /* full width on small screens */
    text-align: left;
    margin-bottom: 50px; /* add some space between projects */
  }
  
  @media (min-width: 768px) { /* medium screens */
    .project {
      width: calc(33.33% - 4px); /* 3 projects per row */
    }
  }
  
  @media (min-width: 992px) { /* large screens */
    .project {
      width: calc(25% - 4px); /* 4 projects per row */
    }
  }
  
  /* Other styles */
  .project img {
    width: 100%;
    border-radius: 10px;
  }
  
  .project-info {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .project-info h3 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .form-group {
    width: 100%;
    padding: 10px;
  }

  .form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }

  .form-control:focus {
    border: 2px solid #555;
  }

  /* CSS para o layout responsivo */
  @media (max-width: 600px) {
    .form-group {
      width: 100%;
    }
  }



footer{
    text-align: center;
}